body {
  background: teal;
}
h1 {
  text-align: center;
  color: white;
}
a {
  display: flex;
  justify-content: space-around;
  color: white;
}
p {
  text-align: center;
  color: white;
}
img {
  max-width: 300px;
  text-align: center;
}
